@model NTierApp.ASPMVC.Models.EditEmployeeViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование</h2>


@using (Html.BeginForm("Edit", "Employees", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Редактирование информации о работнике</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Html.Label(Model.FirstName + " может стать работником у:")
<div class="table-hover">
    @foreach (var company in ViewBag.FreeCompaniesList)
    {
        <form method="post" action="/Employees/CompaniesList">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1" style="margin-bottom:5px">
                        <input type="hidden" value="@company.Id" name="CompanyId" />
                        <input type="hidden" value="@Model.Id" name="UserId" />
                        <label>@company.CompanyName</label>
                    </div>
                    <div class="col" style="margin-bottom:5px">
                        <button class="btn active" type="submit">Добавить</button>
                    </div>
                </div>
        </form>
    }
</div>
<div>
    @Html.Label(Model.FirstName + " состоит в данных компаниях:")

    @foreach (var company in ViewBag.JoinedCompaniesList)
    {
        <form method="post" action="/Employees/CompaniesListDelete">
            <div class="row">
                <div class="col-md-8 col-md-offset-1" style="margin-bottom:5px">
                    <input type="hidden" value="@company.Id" name="CompanyId" />
                    <input type="hidden" value="@Model.Id" name="UserId" />
                    <label>@company.CompanyName</label>
                </div>
                <div class="col" style="margin-bottom:5px">
                    <button class="btn active" type="submit">Удалить</button>
                </div>
            </div>
        </form>
    }
</div>
<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
