@model NTierApp.ASPMVC.Models.Company.DetailsCompanyViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <h4>Подробная информация о компании</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees)
        </dt>

        @foreach (var empl in Model.Employees)
        {
            <dd>
                @Html.DisplayFor(e => empl.FullName);
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
