@model NTierApp.ASPMVC.Models.DetailsEmployeeViewModel

@{
    ViewBag.Title = "DetailsEmployee";
}

<h2>DetailsEmployee</h2>

<div>
    <h4>DetailsEmployeeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditEmployee", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
